# === Python build and cache files ===
__pycache__/
*.py[cod]
*.pyo
*.pyd

# === Virtual environments ===
env/
venv/
.venv/

# === IDE / Editor files ===
.vscode/
.idea/
*.swp
*~

# === Logs and temporary files ===
*.log
*.tmp
*.bak

# === Ryu / Mininet related ===
ryu/__pycache__/
#*.pcap
*.net
